---
import Base from "../layouts/Base.astro";
---

<Base title=">Latest Projects<" description="This are my Latest projects">
  <section id="allProjectsBtn">
    <h1 >All of My Projects</h1>
  </section>
</Base>
