---
import "../styles/skills.scss";
---

<section class="aboutMeContainer my-container" id="aboutme">
  <h3 class="titleAboutme">| About Me |</h3>
  <p class="textAboutme">
    I started to get interested in development a few years ago and what caught
    my attention the most was developing web pages and creating more dynamic
    interfaces for the user, since then I have been constantly improving my
    skills.
  </p>

  <div class="softSkills">
    <div class="teamCurious">
      <div class="iconsSoft">
        <svg
          width="19"
          height="17"
          viewBox="0 0 19 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.5 9C9.706 9 11.5 7.206 11.5 5C11.5 2.794 9.706 1 7.5 1C5.294 1 3.5 2.794 3.5 5C3.5 7.206 5.294 9 7.5 9ZM9 10H6C2.691 10 0 12.691 0 16V17H15V16C15 12.691 12.309 10 9 10Z"
            fill="white"></path>
          <path
            d="M14.6041 8.04803C15.2131 7.01012 15.4761 5.80534 15.3551 4.60803C15.1761 2.82403 14.1801 1.24703 12.5521 0.16803L11.4471 1.83403C12.5661 2.57603 13.2471 3.63303 13.3651 4.80803C13.4195 5.35413 13.3515 5.90549 13.1661 6.42201C12.9806 6.93854 12.6824 7.40724 12.2931 7.79403L11.1011 8.98603L12.7191 9.46103C16.9511 10.701 17.0001 14.957 17.0001 15H19.0001C19.0001 13.211 18.0441 9.71503 14.6041 8.04803Z"
            fill="white"></path>
        </svg>
      </div><p class="soft">| Teamwork |</p>

      <div class="iconsSoft">
        <svg
          width="20"
          height="17"
          viewBox="0 0 20 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.447 2.345C17.2463 1.66459 16.8299 1.06788 16.2604 0.644887C15.6909 0.22189 14.9994 -0.00445191 14.29 3.50237e-06C13.4679 0.000737287 12.6758 0.308969 12.0694 0.864108C11.463 1.41925 11.0861 2.18114 11.013 3H8.988C8.91386 2.18028 8.53579 1.41793 7.9281 0.862795C7.32042 0.307664 6.52707 -9.74552e-05 5.704 3.50237e-06C4.99558 -0.00347384 4.30521 0.223345 3.73689 0.646294C3.16857 1.06924 2.75308 1.66541 2.553 2.345L0.0420001 10.713C0.0144929 10.8062 0.000351839 10.9028 0 11V12C0.00158836 13.3258 0.52902 14.5968 1.46657 15.5341C2.40413 16.4715 3.67523 16.9987 5.001 17C5.97268 16.9983 6.92285 16.7138 7.73547 16.181C8.54809 15.6483 9.18798 14.8904 9.577 14H10.423C10.812 14.8904 11.4519 15.6483 12.2645 16.181C13.0771 16.7138 14.0273 16.9983 14.999 17C16.3249 16.9987 17.5962 16.4714 18.5338 15.5338C19.4714 14.5962 19.9987 13.3249 20 11.999V11C20 10.902 19.985 10.806 19.958 10.713L17.447 2.345ZM5.001 15C4.20558 14.9989 3.44303 14.6826 2.88049 14.1202C2.31796 13.5579 2.00132 12.7954 2 12C2 11.924 2.017 11.853 2.022 11.778C2.07671 11.0248 2.41394 10.3201 2.96616 9.80494C3.51838 9.28981 4.24482 9.00231 5 9C5.79565 9 6.55871 9.31607 7.12132 9.87868C7.68393 10.4413 8 11.2044 8 12V12.009C7.99657 12.8026 7.67925 13.5626 7.11734 14.123C6.55543 14.6834 5.7946 14.9987 5.001 15ZM14.999 15C14.2054 14.9987 13.4446 14.6834 12.8827 14.123C12.3208 13.5626 12.0034 12.8026 12 12.009V12C11.9999 11.606 12.0775 11.2159 12.2282 10.8519C12.3789 10.4879 12.5998 10.1572 12.8783 9.87854C13.4408 9.31583 14.2039 8.99964 14.9995 8.9995C15.7951 8.99937 16.5583 9.31531 17.121 9.87783C17.6837 10.4403 17.9999 11.2034 18 11.999C17.9989 12.7946 17.6824 13.5573 17.1199 14.1199C16.5573 14.6824 15.7946 14.9989 14.999 15Z"
            fill="white"></path>
        </svg>
      </div><p class="soft">| Curious |</p>
    </div>
    <div class="respImprov">
      <div class="iconsSoft">
        <svg
          width="22"
          height="20"
          viewBox="0 0 22 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.705 1.71L3.295 0.29C0 3.563 0 5.935 0 9H1L2 8.937C2 6.009 2 4.396 4.705 1.71ZM18.704 0.29L17.296 1.71C20 4.396 20 6.009 20 9L22 8.937C22 5.935 22 3.563 18.704 0.29ZM11 20C11.6193 20.0008 12.2235 19.8086 12.7285 19.4502C13.2335 19.0917 13.6143 18.5849 13.818 18H8.182C8.38566 18.5849 8.76648 19.0917 9.27151 19.4502C9.77654 19.8086 10.3807 20.0008 11 20ZM18 12.586V8C18 4.783 15.815 2.073 12.855 1.258C12.562 0.52 11.846 0 11 0C10.154 0 9.438 0.52 9.145 1.258C6.184 2.073 4 4.783 4 8V12.586L2.293 14.293C2.19996 14.3857 2.12617 14.4959 2.07588 14.6172C2.0256 14.7386 1.99981 14.8687 2 15V16C2 16.2652 2.10536 16.5196 2.29289 16.7071C2.48043 16.8946 2.73478 17 3 17H19C19.2652 17 19.5196 16.8946 19.7071 16.7071C19.8946 16.5196 20 16.2652 20 16V15C20.0002 14.8687 19.9744 14.7386 19.9241 14.6172C19.8738 14.4959 19.8 14.3857 19.707 14.293L18 12.586Z"
            fill="white"></path>
        </svg>
      </div><p class="soft">| Responsible |</p>

      <div class="iconsSoft">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 1.41002L18.8801 0.150024L17.6801 0.550024C15.6235 1.26457 13.4273 1.48384 11.2701 1.19002C9.00321 0.838236 6.68298 1.15084 4.59006 2.09002C3.48054 2.56247 2.50681 3.30494 1.75754 4.24983C1.00826 5.19473 0.507227 6.31203 0.30006 7.50002C0.0314393 9.03471 0.165822 10.6129 0.69006 12.08C1.02761 11.3181 1.42206 10.5827 1.87006 9.88002C2.88626 8.38486 4.29434 7.1982 5.94006 6.45002C7.5255 5.72615 9.25845 5.38367 11.0001 5.45002C9.34208 5.70352 7.75506 6.29951 6.34006 7.20002C5.65753 7.62887 5.03249 8.14302 4.48006 8.73002C3.95172 9.31675 3.48588 9.95686 3.09006 10.64C2.34659 12.068 1.81758 13.5978 1.52006 15.18C1.19937 16.7674 1.02531 18.3808 1.00006 20H3.00006C3.09406 18.5479 3.29122 17.1042 3.59006 15.68C4.97749 16.4292 6.53341 16.8113 8.11006 16.79C9.58054 16.789 11.0359 16.4932 12.3901 15.92C20.0001 12.67 19.0001 1.86002 19.0001 1.41002Z"
            fill="white"></path>
        </svg>
      </div><p class="soft">| Self improvement |</p>
    </div>
  </div>
  <div class="languages">
    <div class="spain">
      <img class="country" src="./assets/images/spain.svg" alt="" />
    </div>
    <div class="usa">
      <img class="country" src="./assets/images/usa.svg" alt="" />
    </div>
    <div class="uk">
      <img class="country" src="./assets/images/uk.svg" alt="" />
    </div>
  </div>
</section>
