<footer class="footerContainer" id="footer">
  <div class="footerLinks my-container">
    <div class="linksContainer">
      <a href="https://github.com/eliasmagnoli"
        ><svg class="gitPht"
          width="25"
          height="25"
          viewBox="0 0 30 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0017 1.2462e-06C6.71323 -0.00332673 1.52588e-05 6.65929 1.52588e-05 14.8827C1.52588e-05 21.3856 4.19955 26.9134 10.0481 28.9434C10.8357 29.1398 10.715 28.584 10.715 28.2046V25.6254C6.16692 26.1546 5.98259 23.1661 5.67759 22.6669C5.0609 21.6219 3.60296 21.3556 4.03867 20.8564C5.07431 20.3273 6.13006 20.9896 7.35338 22.7833C8.2382 24.0846 9.96427 23.8649 10.839 23.6486C11.0301 22.8665 11.439 22.1677 12.002 21.6252C7.2897 20.7866 5.32568 17.9311 5.32568 14.5366C5.32568 12.8893 5.87199 11.375 6.94449 10.1537C6.26077 8.14024 7.00817 6.41634 7.10872 6.16009C9.05599 5.98703 11.0803 7.54453 11.2379 7.66766C12.3439 7.37147 13.6074 7.21506 15.0218 7.21506C16.4429 7.21506 17.7098 7.37813 18.8258 7.67765C19.2046 7.39144 21.0815 6.05359 22.8913 6.21666C22.9885 6.47292 23.7192 8.15688 23.0757 10.1437C24.1616 11.3684 24.7146 12.8959 24.7146 14.5466C24.7146 17.9478 22.7371 20.8065 18.0114 21.6319C18.4162 22.0271 18.7376 22.4985 18.9568 23.0185C19.1761 23.5385 19.2888 24.0966 19.2884 24.6603V28.4043C19.3152 28.7038 19.2884 29 19.7911 29C25.7268 27.0132 30 21.4455 30 14.886C30 6.65928 23.2834 1.2462e-06 15.0017 1.2462e-06Z"
            fill="white"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/eliasmagnoli">
        <svg class="inPht"
          width="25"
          height="25"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.5887 0H2.41125C1.08 0 0 1.08 0 2.41125V27.5887C0 28.92 1.08 30 2.41125 30H27.5887C28.92 30 30 28.92 30 27.5887V2.41125C30 1.08 28.92 0 27.5887 0ZM27.5887 27.6C10.7963 27.5962 2.4 27.5925 2.4 27.5887C2.40375 10.7963 2.4075 2.4 2.41125 2.4C19.2038 2.40375 27.6 2.4075 27.6 2.41125C27.5962 19.2038 27.5925 27.6 27.5887 27.6ZM4.4475 11.2463H8.89875V25.5638H4.4475V11.2463ZM6.675 9.28875C8.09625 9.28875 9.255 8.13375 9.255 6.70875C9.255 6.36994 9.18827 6.03445 9.05861 5.72143C8.92895 5.40841 8.73891 5.12399 8.49934 4.88441C8.25976 4.64484 7.97534 4.4548 7.66232 4.32514C7.3493 4.19548 7.01381 4.12875 6.675 4.12875C6.33619 4.12875 6.0007 4.19548 5.68768 4.32514C5.37466 4.4548 5.09024 4.64484 4.85067 4.88441C4.61109 5.12399 4.42105 5.40841 4.29139 5.72143C4.16173 6.03445 4.095 6.36994 4.095 6.70875C4.09125 8.13375 5.24625 9.28875 6.675 9.28875ZM16.1362 18.48C16.1362 16.6125 16.4925 14.805 18.8063 14.805C21.0863 14.805 21.12 16.9388 21.12 18.6V25.5638H25.5675V17.7113C25.5675 13.8562 24.735 10.89 20.2313 10.89C18.0675 10.89 16.6163 12.0788 16.02 13.2038H15.96V11.2463H11.6888V25.5638H16.1362V18.48Z"
            fill="white"
            fill-opacity="0.9"></path>
        </svg>
      </a>
    </div>
    <div class="emailTel">
      <svg class="telPht"
        width="30"
        height="30"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25.068 19.9322C24.9288 19.7928 24.7635 19.6822 24.5816 19.6067C24.3996 19.5312 24.2045 19.4924 24.0075 19.4924C23.8105 19.4924 23.6154 19.5312 23.4335 19.6067C23.2515 19.6822 23.0862 19.7928 22.947 19.9322L20.5515 22.3262C19.3155 21.9587 17.3025 21.1697 16.0665 19.9322C14.7555 18.6212 14.0055 16.5527 13.6755 15.4442L16.0665 13.0532C16.2059 12.914 16.3165 12.7487 16.392 12.5667C16.4675 12.3848 16.5063 12.1897 16.5063 11.9927C16.5063 11.7957 16.4675 11.6006 16.392 11.4187C16.3165 11.2367 16.2059 11.0714 16.0665 10.9322L10.0665 4.93219C9.77975 4.66152 9.40034 4.51074 9.00601 4.51074C8.61168 4.51074 8.23227 4.66152 7.94551 4.93219L3.88201 8.99719C3.30901 9.56719 2.98651 10.3532 3.00001 11.1527C3.03301 13.2872 3.59401 20.7032 9.44551 26.5547C15.2925 32.4002 22.713 32.9657 24.849 33.0002H24.891C25.683 33.0002 26.4315 32.6882 26.9985 32.1212L31.0665 28.0532C31.2059 27.914 31.3165 27.7487 31.392 27.5667C31.4675 27.3848 31.5063 27.1897 31.5063 26.9927C31.5063 26.7957 31.4675 26.6006 31.392 26.4187C31.3165 26.2367 31.2059 26.0714 31.0665 25.9322L25.068 19.9322ZM24.8775 30.0002C23.0055 29.9687 16.6005 29.4662 11.5665 24.4322C6.51451 19.3802 6.02851 12.9542 6.00001 11.1212L9.00601 8.11369L12.885 11.9927L10.9455 13.9322C10.5885 14.2892 10.4355 14.8052 10.539 15.3002C10.575 15.4727 11.4555 19.5632 13.9455 22.0532C16.4355 24.5432 20.526 25.4237 20.6985 25.4597C20.9423 25.5117 21.1953 25.5018 21.4343 25.4307C21.6733 25.3597 21.8907 25.2299 22.0665 25.0532L24.006 23.1137L27.885 26.9927L24.8775 30.0002Z"
          fill="white"></path>
        <path
          d="M23.6925 10.1866L19.5075 6.00013V16.4926H30L25.8135 12.3076L32.568 5.55313L30.447 3.43213L23.6925 10.1866Z"
          fill="white"></path>
      </svg>
      <p class="tel">+54 9 3586 02-4858</p>
      <svg class="mailPht"
        width="23"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.4805 0.5H2.51953C1.81641 0.5 1.2207 0.867446 0.732422 1.60234C0.244141 2.33723 0 3.18519 0 4.1462V25.8538C0 26.8148 0.244141 27.6628 0.732422 28.3977C1.2207 29.1326 1.81641 29.5 2.51953 29.5H27.4805C28.1836 29.5 28.7793 29.1326 29.2676 28.3977C29.7559 27.6628 30 26.8148 30 25.8538V4.1462C30 3.18519 29.7559 2.33723 29.2676 1.60234C28.7793 0.867446 28.1836 0.5 27.4805 0.5ZM25.1367 4.1462L15 12.7953L4.86328 4.1462H25.1367ZM2.51953 25.8538V6.35088L14.3555 16.6111C14.4336 16.7242 14.6484 16.7807 15 16.7807C15.3516 16.7807 15.5664 16.7242 15.6445 16.6111L27.4805 6.35088V25.8538H2.51953Z"
          fill="white"></path>
      </svg>
      <p class="mail">eliasmagnoli15@gmail.com</p>
    </div>
    <div class="copyright">
      <p class="copy"><span>@2023 Elias Magnoli</span> All Rights Reserved.</p>
    </div>
  </div>
</footer>
