<section class="navCelContainer visible">
  <nav class="navCel">
    <ul class="navCelHam">
      <li><a class="menuLinkCel celOne" href="#aboutme">About me</a></li>
      <li><a class="menuLinkCel celTwo" href="#skills">Skills</a></li>
      <li><a class="menuLinkCel celThree" href="#projects">Projects</a></li>
      <li>
        <a class="menuLink" href="#footer"
          ><span class="btnContactCel">Contact Me</span></a
        >
      </li>
    </ul>
  </nav>
</section>
