---
import Cardsprojects from "./Cardsprojects.astro";

---

<section class="projectsContainer my-container" id="projects">
  <h3 class="projectsTitle">| Latest Projects |</h3>
  <p class="projectsText">This are my latest projects, you can check all my projects clicking the button below.</p>
  <div class="cardsProjects">
    <a href="https://ppt-le.netlify.app"><Cardsprojects title="Project 01" titleProject="Rock Scissors Paper" description="This is a Rock Scissors Paper game, im using JS, Vite, HTML and CSS"/></a>
    <a href="https://tasks-list-e.netlify.app"><Cardsprojects title="Project 02" titleProject="Tasks List" description="A little Task List app that i made using JS, CSS AND HTML"/></a>
    <a href="https://calculadora-js-elias.netlify.app"><Cardsprojects title="Project 03" titleProject="Calculator App" description="A calculator app, using JS, CSS AND HTML"/></a>
  </div>
  
</section>