---
import "../styles/skills.scss";
---

<section class="skillsContainer my-container" id="skills">
  <h3 class="skillsTitle">| Skills |</h3>
  <p>
    This are the technologies and design tools that i mostly use today for my designs and projects.
  </p>
  <div class="technologies">
    <div class="containerSkills notiContainer">
      <span class="skills html">HTML</span>
      <div class="notiImg">
        <img class="imgNoti" src="./assets/images/HTML.svg" alt="htmlImage" />
      </div>
    </div>
    <div class="containerSkills notiContainerCss">
      <span class="skills css">CSS</span>
      <div class="notiImgCss">
        <img class="imgNotiCss" src="./assets/images/CSS.svg" alt="htmlImage" />
      </div>
    </div>
    <div class="containerSkills notiContainerSass">
      <span class="skills sass">Sass</span>
      <div class="notiImgSass">
        <img
          class="imgNotiSass"
          src="./assets/images/Sass.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerFigma">
      <span class="skills figma">Figma</span>
      <div class="notiImgFigma">
        <img
          class="imgNotiFigma"
          src="./assets/images/Figma..svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerBoot">
      <span class="skills boot">BootStrap</span>
      <div class="notiImgBoot">
        <img
          class="imgNotiBoot"
          src="./assets/images/BOOT.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerMui">
      <span class="skills mui">MaterialUI</span>
      <div class="notiImgMui">
        <img class="imgNotiMui" src="./assets/images/MUI.svg" alt="htmlImage" />
      </div>
    </div>
    <div class="containerSkills notiContainerVite">
      <span class="skills vite">Vite</span>
      <div class="notiImgVite">
        <img
          class="imgNotiVite"
          src="./assets/images/Vite.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerJs">
      <span class="skills js">JavaScript</span>
      <div class="notiImgJs">
        <img class="imgNotiJs" src="./assets/images/JS.svg" alt="htmlImage" />
      </div>
    </div>
    <div class="containerSkills notiContainerReact">
      <span class="skills react">React</span>
      <div class="notiImgReact">
        <img
          class="containerSkills imgNotiReact"
          src="./assets/images/React.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerGit">
      <span class="skills git">Git</span>
      <div class="notiImgGit">
        <img class="imgNotiGit" src="./assets/images/Git.svg" alt="htmlImage" />
      </div>
    </div>
    <div class="containerSkills notiContainerGithub">
      <span class="skills github">Github</span>
      <div class="notiImgGithub">
        <img
          class="imgNotiGithub"
          src="./assets/images/Github.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerVsc">
      <span class="skills vsc">VSC</span>
      <div class="notiImgVsc">
        <img
          class="imgNotiVsc"
          src="./assets/images/VScode.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerAstro">
      <span class="skills astro">Astro</span>
      <div class="notiImgAstro">
        <img
          class="imgNotiAstro"
          src="./assets/images/Astro.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerLinux">
      <span class="skills linux">Linux</span>
      <div class="notiImgLinux">
        <img
          class="imgNotiLinux"
          src="./assets/images/Linux.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerBash">
      <span class="skills bash">Bash</span>
      <div class="notiImgBash">
        <img
          class="imgNotiBash"
          src="./assets/images/Bash.svg"
          alt="htmlImage"
        />
      </div>
    </div>
  </div>
  <h3 class="skillsTitleLear">| Learning . . . |</h3>
  <p>
    And this are the technologies that i'm learning. 
  </p>
  <div class="containerSkills technologies learning">
    <div class="notiContainerNode">
      <span class="skills node">NodeJS</span>
      <div class="notiImgNode">
        <img
          class="imgNotiNode"
          src="./assets/images/Nodejs.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerTs">
      <span class="skills ts">TypeScript</span>
      <div class="notiImgTs">
        <img
          class="imgNotiTs"
          src="./assets/images/TS.svg"
          alt="htmlImage"
        />
      </div>
    </div>
    <div class="containerSkills notiContainerC">
      <span class="skills c">C</span>
      <div class="notiImgC">
        <img
          class="imgNotiC"
          src="./assets/images/C.svg"
          alt="htmlImage"
        />
      </div>
    </div>
  </div>
</section>
